@mixin styled-scrollbar-transparent {
	//// lets style scrollbar!
	&::-webkit-scrollbar {
		position: relative;
		z-index: 30;
		width: 2px;
		background: transparent;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		width: 2px;
		background: transparent;
		border-radius: 1px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 1px;
		background-color: transparent;
		transition: all 0.2s;
	}

	/* hovered state can be different */
	&:hover {
		&::-webkit-scrollbar-thumb {
			border-radius: 1px;
			background-color: transparent;
		}
	}

	/* If Current browser's window lost focus, e.g. user has gone to another window. */
	&::-webkit-scrollbar-thumb:window-inactive {
		background: transparent;
	}
}

@mixin styled-scrollbar {
	//// lets style scrollbar!
	&::-webkit-scrollbar {
		position: relative;
		z-index: 30;
		width: 10px;
		background: transparent;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparentize( $white, 0.3 );
		border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: transparentize( $accent-variant, 0.3 );
		transition: all 0.2s;
	}

	/* hovered state can be different */
	&:hover {
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background-color: $accent;
		}
	}

	/* If Current browser's window lost focus, e.g. user has gone to another window. */
	&::-webkit-scrollbar-thumb:window-inactive {
		background: transparentize( $accent, 0.8 );
	}
}
@mixin styled-scrollbar-hor {
	//// lets style scrollbar!
	&::-webkit-scrollbar {
		position: relative;
		z-index: 30;
		height: 10px;
		background: transparent;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparentize( $white, 0.3 );
		border-radius: 10px;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: transparentize( $accent-variant, 0.3 );
		transition: all 0.2s;
	}

	/* hovered state can be different */
	&:hover {
		&::-webkit-scrollbar-thumb {
			background-color: $accent;
		}
	}

	/* If Current browser's window lost focus, e.g. user has gone to another window. */
	&::-webkit-scrollbar-thumb:window-inactive {
		background: transparentize( $accent, 0.8 );
	}
}

@mixin styled-scrollbar-transparent-hor {
	&::-webkit-scrollbar {
		position: relative;
		z-index: 30;
		height: 10px;
		background: transparent;
	}

	/* Track */
	&::-webkit-scrollbar-track {
		background: transparent;
	}

	/* Handle */
	&::-webkit-scrollbar-thumb {
		background-color: transparent;
	}

	/* hovered state can be different */
	&:hover {
		&::-webkit-scrollbar-thumb {
			background-color: transparent;
		}
	}

	/* If Current browser's window lost focus, e.g. user has gone to another window. */
	&::-webkit-scrollbar-thumb:window-inactive {
		background: transparent;
	}
}
