.wp-block-embed__wrapper {
	> iframe {
		display: block;
		margin: 0 auto;
	}
}
.wp-block-embed {
	&.wp-has-aspect-ratio {
		.wp-block-embed__wrapper {
			position: relative;

			iframe {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
	&.wp-embed-aspect-16-9 {
		.wp-block-embed__wrapper {
			width: 100%;
			padding: 56.25% 0 0;
		}
	}
	&.wp-embed-aspect-4-3 {
		.wp-block-embed__wrapper {
			width: 100%;
			padding: 75% 0 0;
		}
	}
}
