.wp-block-columns {
	display: block;
	@media ( min-width: 782px ) {
		display: flex;
	}

	.wp-block-column {
		margin: 0 0 $spacer;
		@media ( min-width: 782px ) {
			margin-bottom: 0;
			&:not(:first-child) {
				margin-left: $spacer;
			}
		}
	}
}
