.hero {
	position: relative;
	overflow: hidden;
	padding: 0 0 rem( 1.6 );

	@include media-breakpoint-up( sm ) {
		padding: 0 0 rem( 1 ); // for image's shadow
	}
	@include media-breakpoint-up( $bp ) {
		padding: 0;
	}

	&__image {
		overflow: hidden;
		margin: 0 0 rem( 3 );
		padding: 89% 0 0;
		background-color: $light-gray;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@include media-breakpoint-up( $bp ) {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 50%;
			margin: 0;
			padding: 0;
		}
	}

	&__text {
		padding: rem( 4 ) 0 rem( 3.2 );
		@include media-breakpoint-up( sm ) {
			padding: rem( 8 ) 0 rem( 4 );
		}
		@include media-breakpoint-up( $bp ) {
			padding: rem( 18 ) 0;
		}
	}

	&__content {
		@include media-breakpoint-up( sm ) {
			margin: 0 0 rem( 4 );
		}
		.wp-block-buttons {
			margin-top: rem( 3.2 );
			margin-bottom: 0;
			@include media-breakpoint-up( $bp ) {
				margin-top: rem( 4.8 );
				margin-bottom: rem( 0 );
			}

			&:last-child {
				margin-bottom: 0;
			}

			.wp-block-button {
				margin: 0 rem( 1.2 ) rem( 2.4 ) 0;
				@include media-breakpoint-up( $bp ) {
					margin: 0 rem( 3 ) rem( 2.4 ) 0;
				}

				&:last-child {
					margin-bottom: 0;
					margin-right: 0;
				}
			}
		}
	}
	&__btns {
		padding: 0 rem( 2 );
		text-align: center;
		@include media-breakpoint-up( sm ) {
			padding: 0;
			text-align: left;
		}
		.btn {
			display: block;
			margin: 0 0 rem( 1.6 );
			@include media-breakpoint-up( sm ) {
				display: inline-block;
				margin: 0 2em rem( 0.8 ) 0;
				&:last-child {
					margin-right: 0;
				}
			}
			&.btn-tertiary {
				display: inline-block;
				margin: rem( 3.2 ) auto;
				@include media-breakpoint-up( sm ) {
					margin: 0 2em rem( 0.8 ) 0;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}
